@use '@/shared/style/_mixins' as *;
@use '@/shared/style/_variables' as *;

// App Container
.app_container {
  height: 100vh;
  overflow: hidden;
  background: $color-white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.loading {
  @include flex(column, center, center);
}

.loading_text {
  color: $color-gray-500;
}
